body {
    font-family: sans-serif;
}

.img-size {
    height: 300px;
    width: 500px;
}

.header-nav {
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 200px;
}

.logo-text {
    font-size: 26px;
    font-weight: 900;
    color: #F9FAF8;
}

ul {
    display: flex;
    gap: 16px;
    margin: 0;
    padding: 0;
}

li {
    font-size: 20px;
    list-style-type: none;
}